
body { 
  font-family: monospace;
}

pre { 
  white-space: pre-wrap; font-size: 5px; font-weight: bold; text-decoration: 0px 0px 1px black; 
}



/* **** SCROLLL **** */
::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8F8F8F;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}
